body {
    background-color:#A6E4E7;
    transition:5s ease;
}
img {
    display: block;
    margin: 0 auto;
    padding: 5% 2% 0 2%;
}
.mainText {
    padding: 15% 2% 0 2%;
    font-size:125px;
    text-transform: uppercase;
    color:white;
    font-family: 'Anton', sans-serif;
    letter-spacing: 8px;
    transition: 2s ease;
}
.mainText a {
    text-decoration:none;
    color:white;
    transition: 2s ease;
    cursor: pointer;
}
.mainText a:hover {
    text-shadow: 5px;
    font-size:130px;
}
@media screen and (max-width:600px) {
    .mainText {
        padding: 2% 2% 0 2%;
        line-height: 1.1em;
    }
    .mainText a {
        font-size:100px;
    }
    .mainText a:hover {
        font-size:100px;
    }
}